@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("reset.css");
@import url("styles/header.css");
@import url("styles/about.css");
@import url("styles/contact.css");
@import url("styles/footer.css");
@import url("styles/certificates.css");

body {
    font-family: Verdana, sans-serif;
}

.image-bg {
    background-image: url("images/bg.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    color: #aff2ff;
    text-align: center;
    font-size: 2em;
    padding-top: 3em;
    font-weight: bold;
}

.sticky-button {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    color: white; 
    padding: 0.5em 1em;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
}

.sticky-button a {
    text-decoration: none;
    color: #fff; 
}

.sticky-button.active {
    display: block;
}