@tailwind base;
@tailwind components;
@tailwind utilities;

.splide {
    width: 100%;
    margin: 0 auto;
}

.splide__track {
    margin: 20px 0;
    display: flex;
    gap: 200px;
}

.splide__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.splide__slide {
    flex: 0 0 20%;
}

.splide__slide a {
    display: block;
    width: 90%;
}

.splide__slide img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.splide .splide__pagination {
    position: relative;
    margin-top: 2em;
}

.splide .splide__pagination li {
    width: 25px;
}

.splide .splide__pagination button {
    width: 15px;
    height: 15px;
    background-color: orange;
}

.splide .splide__pagination__page.is-active {
    transform: scale(1.5);
    background-color: darkorange;;
}

.splide__slide {
    flex: 0 0 calc(30%);
}

@media (min-width: 768px) and (max-width: 1200px) {
    .splide__track {
        gap: 10px;
        overflow-x: auto;
    }

    .splide__slide {
        flex: 0 0 calc(40%);
    }

}

@media (max-width: 768px) {
    .splide__track {
        gap: 10px;
        overflow-x: auto;
    }

    .splide__slide {
        flex: 0 0 calc(70%);
    }
}

@media (max-width: 480px) {
    .splide__track {
        gap: 10px;
        overflow-x: auto;
    }

    .splide__slide {
        flex: 0 0 calc(80%);
    }
}