.certificates-section .certificates-image {
    width: 70%;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4em;
}

.certificates-section .certificates-image img:hover {
    transform: scale(1);
}

.certificates-section .certificates-image img {
    width: 27%;
    height: auto;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    opacity: 1;
    transition: transform 0.5s ease-out;
    background-color: lightskyblue;
    position: relative;
}

.certificates-section .certificates-image img.flipped {
    transform: rotateY(-180deg) scaleX(-1);
}

