.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.contact-section .contact-logos {
    max-width: 650px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.contact-logos .logos-top {
    display: flex;
    gap: 2em;
}

.contact-section .contact-logos i,
.contact-section .contact-logos .email-bottom img {
    text-decoration: none;
    font-size: 2.5em;
    color: black;
    transition: all 0.5s ease-in-out;
    padding: 0.2em;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 8px;
}

.contact-section .contact-logos .fa-square-facebook:hover ,
.contact-section .contact-logos .fa-github:hover ,
.contact-section .contact-logos .fa-linkedin:hover ,
.contact-section .contact-logos .fa-discord:hover{
    background-color: transparent;
}

.contact-section .contact-logos .fa-square-facebook:hover {
    color: #1F91FF;
}

.contact-section .contact-logos .fa-github:hover {
    color: white;
}

.contact-section .contact-logos .fa-linkedin:hover {
    color: #0A66C2;
}

.contact-section .contact-logos .fa-discord:hover {
    color: #5662EC;
}

.contact-section .contact-logos .cv-middle a {
    color: white;
    padding: 0.8em 1.5em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 5em transparent;
}

.contact-section .contact-logos .cv-middle a:hover {
    background-color: transparent;
    box-shadow: 0 0 0 white;
    transition: all 1.2s ease-in-out;
}

.contact-section .contact-logos .email-bottom {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 20px;
}

.contact-section .contact-logos .email-bottom img {
    width: 10%;
    height: auto;
    background-color: transparent;
}
 